<div>
    <h2 id="page-heading">
        <span jhiTranslate="ecommercesimplesApp.categoria.home.title">Categorias</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categoria" [routerLink]="['/categoria/new']">
            <fa-icon icon="plus"></fa-icon>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="categorias?.length === 0">
        <span jhiTranslate="ecommercesimplesApp.categoria.home.notFound">No categorias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="categorias && categorias.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="ecommercesimplesApp.categoria.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="ecommercesimplesApp.categoria.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias ;trackBy: trackId">
                    <td>{{ categoria.nome }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-circle" (click)="setActive(categoria, true)" *ngIf="!categoria.status"><fa-icon icon="minus-circle"></fa-icon></button>
                        <button class="btn btn-success btn-sm btn-circle" (click)="setActive(categoria, false)" *ngIf="categoria.status">
                            <fa-icon icon="check-circle"></fa-icon>
                        </button>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/categoria', categoria.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/categoria', categoria.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="submit" (click)="delete(categoria)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="trash-alt"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="categorias && categorias.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
