<div class="card card-theme">
    <div class="card-header">
        <h5 class="pt-2">Visualizando Categoria</h5>
    </div>

    <div class="card-body">
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecommercesimplesApp.categoria.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    [(ngModel)]="categoria.nome" disabled/>
        </div>
    </div>

    <div class="card-footer">
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
</div>
