<div class="card card-theme">
    <div class="card-header">
        <h4 *ngIf="categoria.id" class="pt-2" id="jhi-categoria-heading" jhiTranslate="ecommercesimplesApp.categoria.home.editLabel">Edit a Categoria</h4>
        <h4 *ngIf="!categoria.id" class="pt-2" id="jhi-categoria-heading" jhiTranslate="ecommercesimplesApp.categoria.home.createLabel2">Create a Categoria</h4>
    </div>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="card-body">
            <jhi-alert-error></jhi-alert-error>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="ecommercesimplesApp.categoria.nome" for="field_nome">Nome</label>
                <input type="text" class="form-control" name="nome" id="field_nome"
                        formControlName="nome" required/>

                <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                    <small class="form-text text-danger"
                            *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary float-right">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
