@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); // baixar essas fontes
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); // baixar essas fontes

$bg-color: #f2f3f8;
$border-color: #f2f3f8;
$navbar-bg-color: #3498db;
$navbar-color: #fefefe;
$sidebar-bg-color: #fff;
$sidebar-color: #3d4465;
$sidebar-icon-color: #14a3f9;

@font-face {
  font-family: 'Timeless';
  src: local('../fonts/Timeless.ttf');
}

body {
  font-family: 'Poppins', 'Roboto', sans-serif;
  font-size: 0.9rem;
}

.timeless {
  font-family: 'Timeless', serif;
}

.wrapper.default-theme {
  background: $bg-color;

  nav.navbar {
    background: $navbar-bg-color;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.45);
    border-color: rgba($navbar-color, 0);

    .navbar-brand {
      color: $navbar-color;
    }

    .left-nav {
      input.navbar-search {
        background: #ffffff;
        color: $navbar-color;
        &::placeholder {
          color: rgba($navbar-color, 0.6);
        }
      }
    }

    .right-nav {
      background: $navbar-bg-color;
    }

    .nav-link {
      color: $navbar-color;

      fa-icon {
        border-color: $navbar-color;
        background: $navbar-bg-color;
      }

      &:hover {
        color: lighten($navbar-color, 15%);
      }
    }

    .nav-alert {
      border-color: #2f3546;

      &.notifications {
        background-color: #ff61c5;
        box-shadow: 0px 0px 4px #ff61c5;
      }

      &.messages {
        background-color: #61b8ff;
        box-shadow: 0px 0px 4px #61b8ff;
      }
    }
  }

  main {
    .overlay {
      background: #242939;
    }

    .sidebar {
      background: $sidebar-bg-color;

      > div {
        border-color: rgba($sidebar-color, 0.1);
      }

      a.sidebar-link {
        color: $sidebar-color;
      }

      .sidebar-profile {
        .name {
          color: $sidebar-color;
        }

        .role {
          color: rgba($sidebar-color, 0.8);
        }
      }

      .sidebar-menu {
        .menu-header {
          color: rgba($sidebar-color, 0.5);
        }

        .menu-items {
          a {
            color: rgba($sidebar-color, 0.7);

            fa-icon {
              color: $sidebar-icon-color;
              color: #da4e32;
              color: rgb(0, 0, 0);
              border: none;
              width: auto;
              font-size: 1rem;
            }

            &:hover,
            &.active {
              background: #f5f5f9;
              color: rgba($sidebar-color, 0.9);

              fa-icon {
                color: #95b0ff;
              }
            }
          }
        }
      }
    }
  }

  /* ng-select custom */
  .ng-select.custom {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
  }

  .ng-select.custom .ng-select-container {
    min-height: 0px;
    border-radius: 0;
  }

  .text-lightning {
    color: #98a4c7;
  }
}
//----------------------------------------------------------------------/
