<div class="card shadow-lg">
    <div class="card-header">
        <span class="modal-title" id="upadate" *ngIf="cliente.id">
            <h4 class="pt-2">Editando Cliente</h4>
        </span>

        <span *ngIf="!cliente.id">
            <h4 class="pt-2">Cadastrando Cliente</h4>
        </span>
    </div>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" autocomplete="off">
        <div class="card-body">
            <jhi-alert-error></jhi-alert-error>

            <div class="card">
                <div class="card-header">
                    Dados gerais
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="field_nome">Nome</label>
                                <input type="text" class="form-control" name="nome" id="field_nome" #nomeInput="ngModel"
                                    [(ngModel)]="cliente.nome" maxlength="150" required />

                                <div *ngIf="nomeInput.invalid && (nomeInput.dirty || nomeInput.touched)">
                                    <small class="form-text text-danger" *ngIf="nomeInput.errors?.required">
                                        Esse campo é obrigatório.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="nomeInput.errors?.maxlength">
                                        Esse campo não pode ter mais de 150 caracteres.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="card">
                <div class="card-header">
                    Endereço
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label class="form-control-label" for="cep">CEP</label>
                            <input type="text" class="form-control" name="cep" id="cep" placeholder="72234-567"
                                [(ngModel)]="cliente.cliente.cep" #clienteCepInput="ngModel" minlength="9" (blur)="buscarCep()"
                                [textMask]="maskCEP" required />

                            <div *ngIf="clienteCepInput.invalid && (clienteCepInput.dirty || clienteCepInput.touched)">
                                <small class="form-text text-danger" *ngIf="clienteCepInput.errors?.pattern">
                                    Preencha todos os números
                                </small>
                                <small class="form-text text-danger" *ngIf="clienteCepInput.errors?.required">
                                    Esse campo é obrigatório.
                                </small>
                            </div>

                            <small class="form-text text-danger" *ngIf="validador">
                                CEP Inválido
                            </small>
                        </div>

                        <div class="form-group col-sm-7">
                            <label class="form-control-label" for="logradouro">Logradouro</label>
                            <input type="text" class="form-control" #logradouroInput="ngModel" name="logradouro"
                                id="logradouro" [(ngModel)]="cliente.cliente.logradouro" maxlength="50" required>

                            <div *ngIf="logradouroInput.invalid && (logradouroInput.dirty || logradouroInput.touched)">
                                <small class="form-text text-danger" *ngIf="logradouroInput.errors?.required">
                                    Esse campo é obrigatório.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-sm-2">
                            <label class="form-control-label" for="numero">Número</label>
                            <input type="number" class="form-control" #numeroInput="ngModel" name="numero" id="numero"
                                [(ngModel)]="cliente.cliente.numero" min="0" maxlength="6" required>

                            <div *ngIf="numeroInput.invalid && (numeroInput.dirty || numeroInput.touched)">
                                <small class="form-text text-danger" *ngIf="numeroInput.errors?.maxlength">
                                    Esse campo não pode ter mais de 6 caracteres.
                                </small>
                                <small class="form-text text-danger" *ngIf="numeroInput.errors?.required">
                                    Esse campo é obrigatório.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="form-group col-sm-12">
                            <label class="form-control-label" for="complemento">Complemento</label>
                            <input type="text" class="form-control" #complementoInput="ngModel" name="complemento"
                                id="complemento" [(ngModel)]="cliente.cliente.complemento" maxlength="100">

                            <div
                                *ngIf="complementoInput.invalid && (complementoInput.dirty || complementoInput.touched)">
                                <small class="form-text text-danger" *ngIf="complementoInput.errors?.maxlength">
                                    Esse campo não pode ter mais de 100 caracteres.
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label class="form-control-label" for="bairro">Bairro</label>
                            <input type="text" class="form-control" #bairroInput="ngModel" name="bairro" id="bairro"
                                [(ngModel)]="cliente.cliente.bairro" maxlength="100" required>

                            <div *ngIf="bairroInput.invalid && (bairroInput.dirty || bairroInput.touched)">
                                <small class="form-text text-danger" *ngIf="bairroInput.errors?.maxlength">
                                    Esse campo não pode ter mais de 100 caracteres.
                                </small>
                                <small class="form-text text-danger" *ngIf="bairroInput.errors?.required">
                                    Esse campo é obrigatório.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-sm-5">
                            <label class="form-control-label" for="cidade">Cidade</label>
                            <input type="text" class="form-control" #cidadeInput="ngModel" name="cidade" id="cidade"
                                [(ngModel)]="cliente.cliente.cidade" maxlength="100" required>

                            <div *ngIf="cidadeInput.invalid && (cidadeInput.dirty || cidadeInput.touched)">
                                <small class="form-text text-danger" *ngIf="cidadeInput.errors?.maxlength">
                                    Esse campo não pode ter mais de 100 caracteres.
                                </small>
                                <small class="form-text text-danger" *ngIf="cidadeInput.errors?.required">
                                    Esse campo é obrigatório.
                                </small>
                            </div>
                        </div>

                        <div class="form-group col-sm-2">
                            <label class="form-control-label" for="uf">UF</label>
                            <select class="custom-select" name="uf" id="uf" [(ngModel)]="cliente.cliente.uf" #ufInput="ngModel"
                                required>
                                <option *ngFor="let item of ufs" [value]="item">{{item}}</option>
                            </select>

                            <div *ngIf="ufInput.invalid && (ufInput.dirty || ufInput.touched)">
                                <small class="form-text text-danger" *ngIf="ufInput.errors?.required">
                                    Esse campo é obrigatório.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" id="cancel-save" class="btn btn-secondary float-left" (click)="previousState()">
                <fa-icon [icon]="'chevron-left'"></fa-icon>&nbsp;<span  jhiTranslate="entity.action.back">Voltar</span>
            </button>

            <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary float-right">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Salvar</span>
            </button>
        </div><br/>
    </form>
    <br/>
</div>
