<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pedido">
            <h2><span jhiTranslate="ecommercesimplesApp.pedido.detail.title">Pedido</span> {{ pedido.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecommercesimplesApp.pedido.instante">Instante</span></dt>
                <dd>
                    <span>{{ pedido.instante }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.pedido.pagamento">Pagamento</span></dt>
                <dd>
                    <div *ngIf="pedido.pagamentoId">
                        <a [routerLink]="['/pagamento', pedido.pagamentoId, 'view']">{{ pedido.pagamentoEstadoPagamento }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.pedido.user">User</span></dt>
                <dd>
                    {{ pedido.userFirstName }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pedido', pedido.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
