<div class="card card-theme">
    <div class="card-header">
        <h4>Visualizando Pagamento</h4>
    </div>

    <div class="card-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ecommercesimplesApp.pagamento.estadoPagamento" for="field_estadoPagamento">Estado Pagamento</label>
            <input type="text" class="form-control" name="estadoPagamento" id="field_estadoPagamento"
                    [(ngModel)]="pagamento.estadoPagamento" disabled/>
        </div>
    </div>

    <div class="card-footer">
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
    </div>
</div>
