<div class="card card-theme">
    <div class="card-header">
        <h4 *ngIf="pagamento.id" class="pt-2" id="jhi-pagamento-heading" jhiTranslate="ecommercesimplesApp.pagamento.home.editLabel">Edit a Pagamento</h4>
        <h4 *ngIf="!pagamento.id" class="pt-2" id="jhi-pagamento-heading" jhiTranslate="ecommercesimplesApp.pagamento.home.createLabel2">Create a Pagamento</h4>
    </div>

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="card-body">
            <jhi-alert-error></jhi-alert-error>

            <div class="form-group">
                <label class="form-control-label" jhiTranslate="ecommercesimplesApp.pagamento.estadoPagamento" for="field_estadoPagamento">Estado Pagamento</label>
                <input type="text" class="form-control" name="estadoPagamento" id="field_estadoPagamento"
                        formControlName="estadoPagamento"/>
                <div *ngIf="editForm.get('estadoPagamento')!.invalid && (editForm.get('estadoPagamento')!.dirty || editForm.get('estadoPagamento')!.touched)">
                    <small class="form-text text-danger"
                            *ngIf="editForm.get('estadoPagamento')?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary float-right">
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
