<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="ecommercesimplesApp.cliente.detail.title">Cliente</span> {{ cliente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.dataNascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{ cliente.dataNascimento }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.cpf">Cpf</span></dt>
                <dd>
                    <span>{{ cliente.cpf }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.fone">Fone</span></dt>
                <dd>
                    <span>{{ cliente.fone }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.celular">Celular</span></dt>
                <dd>
                    <span>{{ cliente.celular }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.logradouro">Logradouro</span></dt>
                <dd>
                    <span>{{ cliente.logradouro }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.numero">Numero</span></dt>
                <dd>
                    <span>{{ cliente.numero }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.complemento">Complemento</span></dt>
                <dd>
                    <span>{{ cliente.complemento }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.bairro">Bairro</span></dt>
                <dd>
                    <span>{{ cliente.bairro }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.cidade">Cidade</span></dt>
                <dd>
                    <span>{{ cliente.cidade }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.cep">Cep</span></dt>
                <dd>
                    <span>{{ cliente.cep }}</span>
                </dd>
                <dt><span jhiTranslate="ecommercesimplesApp.cliente.uf">Uf</span></dt>
                <dd>
                    <span>{{ cliente.uf }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
