@import 'src/main/webapp/content/partials/custom/circular_button';
@import 'src/main/webapp/content/partials/custom/status';

.card-theme {
  border-radius: 0.2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
